.tableSubheader {
  background-color: #ffd200;
  text-transform: uppercase;
  color: #626462;
  padding: 12px;
}

.table {
  animation: fadeInAnimation 1s;
  background-color: #F5F5F4;
  margin: 0 auto;
  max-width: 700px;
  min-width: 300px;
  width: 80%;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
